@charset "utf-8";
.dark .navigation-menu button.admin-only, .dark .inline-navigation-menu button.admin-only {
    padding: 5px 10px;
    border-radius: 24px;
    color: #efa82c47;
    font-style: italic;
    
    &:before{
        content:"\0f023";
        color:#efa82c;
        margin-right: 5px;
        font-family: 'FontAwesome';    
    }
    
}

.navigation-menu ul li.admin-only:before {
    color: #efa82c47;
}

.hide-admin .admin-btn, .hide-admin [data-identifier="admin-btn"] {
    display: none;
}

.hide-admin li.admin-only {
    display: none;
}

