.dark .navigation-menu button.admin-only, .dark .inline-navigation-menu button.admin-only {
    padding: 5px 10px;
    border-radius: 24px;
    background-color: #efa82c47;
    box-shadow: 0 0 2px 0.5px #efa82c;
    color: white;
    font-style: italic;
    
    &:after{
        content:"\0f023";
        color:#efa82c;
        margin-left: 5px;
        font-family: 'FontAwesome';    
    }
    
}
