


$darkThemeBG:#030310;
$darkThemeInputBG:#1e1e1e;
$darkThemeInset:#030310;
$tagBtnColor:#2E303A;
$fontColor:#e0e0e2;
$darkThemeModalBG:#484848;


$mainStyleColor:#efa82c;

.dark{
    
    
    
    .WizardTitle li {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.2);
        color:white;
    }
    
    .WizardTitle li.current{
      background-color: #6A7CE9;
     
    }
    
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
    
    .pb-w .template-footer{
        background-color: $darkThemeBG;
    }

    .file-list .file-item .file-container {
        background-color: #33404d;
         box-shadow:none;
    }

    h2 {
        color: $fontColor;
    }

    &.ui-view.dashboard-main {
        background-color: $darkThemeBG;
        color: $fontColor;
    }

    button.inline-logout, label.boolean-field p, .field-value-module.editable:after, .field-value-module .editable:after{
        color: #637594;
    }

    .user-detail .single_ImageContainer:after{
        box-shadow:none;
    }

    .ui-view.inset-shading>div {
         background-color: $darkThemeInset;
    }

    .ui-view.inset-menu-shading>div{
        background-color: $darkThemeInset;
    }

    .navigation-menu button, .inline-navigation-menu button{
        color: gray;
    }


    .navigation-menu label{
         color: $fontColor;
    }

    .navigation-menu li:hover button, .inline-navigation-menu li:hover button {
        color: $fontColor;
    }
    
    .navigation-menu li:hover:before, .inline-navigation-menu li:hover:before {
        color: $fontColor;
    }

    .project-detail span.progress{
         background-color: $darkThemeBG;
    }

    .pagination-item:before{
         color: #6AE9BF;
    }

    .uilist-pagination button{
        border: 1px solid gray;
        background-color: transparent;
    }

    .text-input, .discussion-textbox, .ui-view.reply-box .discussion-textbox {
        background-color: $darkThemeInputBG;
        border: 1px solid #4e4e4e;
        color: $fontColor;
        border: 1px solid #4e4e4e;
    }

    &.pb-c.pb-c-append {
        background-color:$darkThemeModalBG;
        color:$fontColor;
    }


    .label.top-left, .checkbox-style {
        color: $fontColor;
    }

    &.pb-c:after {
        background-color: $darkThemeBG;
    }

    .WizardTitle li{
        color:$fontColor;
    }

    &.ui-view.dashboard-main a{
        color:$fontColor;
    }




    .ui-list-view .ui-view:first-child, .inline-list-item.first-item {
        border-top-color: $tagBtnColor;
    }

    .ui-list-view .ui-view, .inline-list-item {
        border-bottom-color: $tagBtnColor;
    }

    ul.item-tags li {
        background-color: $tagBtnColor;
        &:hover {
            background-color: lighten($tagBtnColor, 10%);
        }
    }

    .inline-btn.sort ul, .inline-btn.optionlist ul {
        background-color: $tagBtnColor;
    }

    .inline-btn.sort li, .inline-btn.optionlist li {
        border-color:$tagBtnColor;
        color:$fontColor;
    }

    .inline-btn.sort.hasFilter, .inline-btn.sort.hasOrder {
        color: $tagBtnColor;
    }

    .inline-btn.optionlist { 
        background-color: $tagBtnColor;
    }

    .inline-btn.filter{
        color: $tagBtnColor;
    }
    
    .calendar .month {
        background-color: transparent;
    }


    .navigation-menu li:after {
        background-color: $tagBtnColor;
    }
 
    .donut-chart .chart-center {
        background-color: $tagBtnColor;
    }

    .inline-btn.sort li:hover, .inline-btn.optionlist li:hover {
        background-color: darken($tagBtnColor, 10%);
    }

    .ui-post-view:after {
        border-color:$tagBtnColor;
    }


    .search-panel{
        
        input.search-input {
            background: $tagBtnColor;
            color: white;
            border-color: #433400;
        }
    
        input.search-input::placeholder {
            color: #ceb250;
            font-style:italic;
            font-weight:100;
        }
        
    }
    
    
    ul.user-roles li {
        filter: invert(1);
    }
    
    
    .ui-view[data-view="singleMapTitleBarView"] {
        .ui-view[data-view="singleProjectListItemTableDetail"] {
            background-color:$tagBtnColor;
            
        }
    }





    .ui-view.inset-menu-shading.dark-only-shading>div {
        background-color: transparent;
    }
    
    
    [data-view="tasksOverviewListDetail"], [data-view="projectsOverviewDetail"] {
    
        .section-title {
            background-color: rgba(255, 255, 255, 0.1);
        }
     .filter-btns .sort, button.inline-btn.add.primary-btn{
           margin-top: 7px !important;
        }
    
        .ui-view.active-project {
            background-color: transparent;
        }
    }
    
    
    
    [data-view="tasksOverviewListDetail"] {
    
        .section-title {
            margin-top:100px;
        }
        
       
        
    }


}

.pb-w .template-footer {
 
    background-color: #3f3f3f;

}



