


$darkThemeBG:black;
$darkThemeInset:transparent;
$tagBtnColor:#2E303A;

.dark{
    .pb-w .template-footer{
        background-color: $darkThemeBG;
    }

    .file-list .file-item .file-container {
        background-color: #33404d;
         box-shadow:none;
    }

    h2 {
        color: white;
    }

    &.ui-view.dashboard-main {
        background-color: $darkThemeBG;
        color: white;
    }

    button.inline-logout, label.boolean-field p, .field-value-module.editable:after, .field-value-module .editable:after{
        color: #637594;
    }

    .user-detail .single_ImageContainer:after{
        box-shadow:none;
    }

    .ui-view.inset-shading>div {
         background-color: $darkThemeInset;
    }

    .ui-view.inset-menu-shading>div{
        background-color: $darkThemeInset;
    }

    .navigation-menu button, .inline-navigation-menu button{
        color: gray;
    }


    .navigation-menu label{
         color: white;
    }

    .navigation-menu button:hover, .inline-navigation-menu button:hover {
        color: white;
    }

    .project-detail span.progress{
         background-color: $darkThemeBG;
    }

    .uilist-pageination:before{
         color: #6AE9BF;
    }

    .uilist-pageination button{
        border: 1px solid gray;
        background-color: transparent;
    }

    .text-input, .discussion-textbox {
        background-color: $darkThemeBG;
        border: 1px solid #4e4e4e;
        color: white;
        border: 1px solid #4e4e4e;
    }

    &.pb-c.pb-c-append {
        background-color: $darkThemeInset;
        color:white;
    }


    .label.top-left, .checkboxStyle {
        color: white;
    }

    &.pb-c:after {
        background-color: $darkThemeBG;
    }

    .WizardTitle li{
        color:white;
    }

    &.ui-view.dashboard-main a{
        color:white;
    }




    .ui-list-view .ui-view:first-child, .inline-list-item.first-item {
        border-top-color: $tagBtnColor;
    }

    .ui-list-view .ui-view, .inline-list-item {
        border-bottom-color: $tagBtnColor;
    }

    ul.item-tags li {
        background-color: $tagBtnColor;
    }

    .inline-btn.sort ul, .inline-btn.optionlist ul {
        background-color: $tagBtnColor;
    }

    .inline-btn.sort li, .inline-btn.optionlist li {
        border-color:$tagBtnColor;
        color:white;
    }

    .inline-btn.sort.hasFilter, .inline-btn.sort.hasOrder {
        color: $tagBtnColor;
    }

    .inline-btn.optionlist { 
        background-color: $tagBtnColor;
    }

    .inline-btn.filter{
        color: $tagBtnColor;
    }


}




.ui-view.inset-menu-shading.dark-only-shading>div {
    background-color: transparent;
}



button.primary-btn.nav-new-btn {
    float: none;
    margin: 30px 49px;
    width: 200px;
    background-color: #ff0058;
    height: 55px;
    border-radius: 27.5px;
    text-transform: capitalize;
    transition: background-color 2.1s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    line-height: 30px;
    font-weight: 100;
    font-size: 18px;
    color: #2d2d2d;
}

button.primary-btn.nav-new-btn:before {
    content: "+ ";
    float: left;
    font-size: 25px;
}

button.primary-btn.nav-new-btn:hover {
    background-color: #dc004c;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 3px rgba(255,255,255,0.1);
    
}


@media screen and (max-width: 1250px) {
    button.primary-btn.nav-new-btn {
        font-size:13px;
        width:140px;
        margin: 30px 20px;
        padding: 10px 20px;
    }
    button.primary-btn.nav-new-btn:after {

        font-size:15px;
    }
}


@media screen and (max-width: 1000px){

    button.primary-btn.nav-new-btn {
        font-size:0;
        width:55px;
        margin: 30px 23px;
        padding: 10px 20px;
    }


}


.ui-view.left-panel.closed button.primary-btn.nav-new-btn{

    width:30px;
    height:30px;
    margin:10px;
    line-height:30px;
    padding:0;
    margin-top :50px;
}

.ui-view.left-panel.closed button.primary-btn.nav-new-btn:before{
    content:"+";
    float:none;
}




