$highlightBtnColor:#efa82c;

[data-view="leftPanel"] {
    background-color: #222222;
}

.ui-view.login-form{

    &:before {
        content: "";
        background: white;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }


    &:after {
        content: "";
        background: #e88224;
        position: fixed;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: -1;
        background-image: url(https://dyl2vw577xcfk.cloudfront.net/wabun.geoforms.ca/1/Uploads/%5BImAgE%5D_KGR_%5BG%5D_BdY_wCX.jpeg);
        background-size: cover;
        background-blend-mode: luminosity;
    }

    
    width: 50%;
    text-align: left;
    margin: 0;
    margin-left: calc( 32% - 400px );
    margin-top: 50px;
    
    
    input.text-input {
        color: black;
        background-color: white;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    
    
    color: black;
    .top-left>.lbl-txt {
        color: black;
    }

}



.dark .uilist-pageination:before {
    color: $highlightBtnColor;
}


.dark .uilist-pageination button {
    background-color: #2e303a;
    border: none;
    color: gray;
}

.section-title {
    font-weight: 400;
    font-size: 25px;
}

.priority-indicator{
    display:none;
}

.project-list-btns.header-hieght {
    height: 60px;
}

[data-view="groupListsProjectDetail"].ui-view.left-panel, [data-view="projectsListDetail"].ui-view.left-panel{
    max-width: unset;
}

[data-view="singleTaskListItemDetail"]{
    line-height: 30px;
    height: 30px;
    
    
    
    
    
    .ui-view.inline-icon-list-view {
        margin-right: 7px;
        
        
        .user-profile-icon {
            &> span {
                width: 20px;
                height: 20px;
            }
            
        }
    }
    
    ul.item-tags {
        margin-right: 10px;
    }
    
    
}

.ui-view.inset-shading > div, .calendar .month {
    background: transparent;
}


.day.today, .day.active, .day.today.active {
    color: white;
    font-weight: 400;
    &:after {
        background-color: $highlightBtnColor;
        border-color: transparent;
    }
}

[data-view="singleProjectListItemDetail"]{
    .inline-btn.optionlist {
        display:none;
    }
}


.progress-bar.percent-complete>div {
    min-width: 4px;
}


.inline-navigation-menu li.active {
    border-bottom: 4px solid $highlightBtnColor;
    button {
        color: white;
    }
}

.inline-navigation-menu li{
    padding-bottom: 10px;
}

.inline-navigation-menu {
    li.menu-user-configuration, li.menu-user-edit, li.menu-user-log, li.menu-user-log-out {
        float: right;
        margin-right:10px;
        
    }
    li.menu-user-configuration, li.menu-layout-split, li.menu-layout-list, li.menu-layout-fancy {
        button {
            font-size: 0;
        }
    }
}



.user-profile-icon {
    
    &.default-icon>span{
        background-color:white;
    }
}

.navigation-menu ul li.active {
    background-color: adjust-color($highlightBtnColor, $alpha:-0.3);
    border-right: 4px solid $highlightBtnColor;
}


.left-panel .user-detail{ 
    .editable{
        &:after {
            display: none;
        }
        .inline-logout {
            display: none;
        }
    }
    
    .single_ImageContainer {
        margin-bottom: 10px;
    }
    
}

.user-name {
    font-weight: 400;
}

.user-detail .user-role {
    display: block;
    color: gray;
}



.navigation-menu .menu-main li{
    &.menu-main-users {
        display: none;
    }
    &.menu-main-projects {
        display: none;
    }
    &.menu-main-timetracking {
        display: none;
    }
     &.menu-main-documents {
        display: none;
    }
    &.menu-main-reports {
        display: none;
    }
}

.navigation-menu .menu-people li{
    &.menu-people-projectmembers{
         display: none;
    }
    &.menu-people-users{
         display: none;
    }
    &.menu-community-users{
         display: none;
    }
}

.navigation-menu ul.menu-community, .navigation-menu ul.menu-configuration {
    display: none;
}
.settings-menu ul.menu-configuration {
    display: block;
    label{
        display:none;
    }
}

.navigation-menu ul button:focus {
    outline: none;
}


button.inline-btn.add, button.primary-btn {
    background-color: $highlightBtnColor;
    border-radius: 100px;
}


.inline-btn.sort,  .inline-btn.filter{
    border-radius: 100px;
    margin-right: 12px;
}

[data-view="projectsOverviewDetail"]{
    display:block;
    margin-bottom:50px;
    
    .inline-btn.sort{
        display:none;
    }
    
    button.inline-btn.add.primary-btn {
        margin-top:0;
    }
}


[data-view="tasksOverviewListDetail"]{
    display:block;
    margin-bottom:50px;
    .inline-btn.sort.filter {
        display: none;
    }
    
    
    .inline-btn.sort.hasOrder {
        background-color: $highlightBtnColor;
        color: white;
        border-radius: 100px;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 400;
    }
    
    span.filter-btns {
        float: right;
    }
}


.selectable{
    &button.primary-btn {
        border: 1px dashed mediumseagreen;
        background-color: transparent;
        
        &.selected {
            background-color: mediumseagreen;
        }

        
    }
    
    
}


