$highlightBtnColor:#efa82c;




.section-title {
    font-weight: 400;
    font-size: 25px;
}

.priority-indicator{
    display:none;
}

[data-view="singleTaskListItemDetail"]{
    line-height: 30px;
    height: 30px;
    
    
    
    
    
    .ui-view.inline-icon-list-view {
        margin-right: 7px;
        
        
        .user-profile-icon {
            &> span {
                width: 20px;
                height: 20px;
            }
            
        }
    }
    
    ul.item-tags {
        margin-right: 10px;
    }
    
    
}

.ui-view.inset-shading > div, .calendar .month {
    background: transparent;
}


.day.today, .day.active, .day.today.active {
    color: white;
    font-weight: 400;
    &:after {
        background-color: $highlightBtnColor;
        border-color: transparent;
    }
}

[data-view="singleProjectListItemDetail"]{
    .inline-btn.optionlist {
        display:none;
    }
}


.progress-bar.percent-complete>div {
    min-width: 4px;
}


.inline-navigation-menu li.active {
    border-bottom: 4px solid $highlightBtnColor;
    button {
        color: white;
    }
}

.inline-navigation-menu li{
    padding-bottom: 10px;
}

.inline-navigation-menu li.menu-user-configuration {
    float: right;
    margin-right:10px;
    button {
        font-size: 0;
    }
}



.user-profile-icon {
    
    &.default-icon>span{
        background-color:white;
    }
}

.navigation-menu ul li.active {
    background-color: adjust-color($highlightBtnColor, $alpha:-0.3);
    border-right: 4px solid $highlightBtnColor;
}


.left-panel .user-detail{ 
    .editable{
        &:after {
            display: none;
        }
        .inline-logout {
            display: none;
        }
    }
    
    .single_ImageContainer {
        margin-bottom: 10px;
    }
    
}

.user-name {
    font-weight: 400;
}

.user-detail .user-role {
    display: block;
    color: gray;
}



.navigation-menu .menu-main li{
    &.menu-main-users {
        display: none;
    }
    &.menu-main-projects {
        display: none;
    }
    &.menu-main-timetracking {
        display: none;
    }
     &.menu-main-documents {
        display: none;
    }
    &.menu-main-reports {
        display: none;
    }
}

.navigation-menu .menu-people li{
    &.menu-people-projectmembers{
         display: none;
    }
    &.menu-people-users{
         display: none;
    }
    &.menu-community-users{
         display: none;
    }
}

.navigation-menu ul.menu-community, .navigation-menu ul.menu-configuration {
    display: none;
}
.settings-menu ul.menu-configuration {
    display: block;
    label{
        display:none;
    }
}

.navigation-menu ul button:focus {
    outline: none;
}


button.inline-btn.add, button.primary-btn {
    background-color: $highlightBtnColor;
    border-radius: 100px;
}
[data-view="projectsOverviewDetail"]{
    display:block;
    margin-bottom:50px;
    
    .inline-btn.sort{
        display:none;
    }
    
    button.inline-btn.add.primary-btn {
        margin-top:0;
    }
}


[data-view="tasksOverviewListDetail"]{
    display:block;
    margin-bottom:50px;
    .inline-btn.sort.filter {
        display: none;
    }
    
    
    .inline-btn.sort.hasOrder {
        background-color: $highlightBtnColor;
        color: white;
        border-radius: 100px;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 400;
    }
    
    span.filter-btns {
        float: right;
    }
}


