@charset "UTF-8";

$highlightBtnColor:#cd0101; /*#ff0258;*/


.left-panel .application-logo {
    background-position: 25px;
}

span.section-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: -10px;
    top: 10px;
}


.inline-btn.sort, .inline-btn.sort.hasOrder, .inline-btn.sort.hasFilter {
    color: black;
}

.inline-btn.sort.hasFilter, .inline-btn.sort.hasOrder {
    padding-right: 20px;
}

.inline-btn.filter span.locked {
    line-height: 9px;
}


span.pending-status {
    background-color: rgba(0,0,0,0.1);
    border-radius: 39px;
    display: inline-block;
    margin:4px;
}
.pending-status>button.primary-btn {
    padding: 6px 18px;
    /* margin: 14px 22px; */
}


.pending-status>button.primary-btn:first-child {
    margin-left: 0;
}

button.primary-btn.selectable.selected {
    background-color: mediumseagreen;
    color: white;
}

button.primary-btn.selectable {
    background-color: rgba(0,0,0,0.1);
    color: #555555;
}

.inline-btn.sort, .inline-btn.optionlist {
    width: unset;
}

button.primary-btn, .WizardButton, .WizardTitle li, .t-btn {
    border-radius: 20px;
}

.dataset-select .ui-view .field-value-module {
    display: none;
}



.dataset-select .ui-view [data-col="name"], 
.dataset-select .ui-view [data-col="user"],
.dataset-select .ui-view [data-col="date"] {
    display: inline-block;
    min-width: 150px;
    height: 55px;
    line-height: 55px;
}
a.pb-btn-close {
    background-image:none;
}
a.pb-btn-close:after {
    content: "\f00d";
    font-family: 'FontAwesome';
    color: white;
    font-size: 19px;
    position: relative;
    left: -3px;
}


.pb-c.gct3 {
    color: white;


    .text-input {
        background-color: #2d4392;
        border-radius: 10px;
        border-color: rgba(255,255,255,0.2);
        color: white;
        padding-left:10px;
        padding-right:10px;
    }
    
    .text-input.with-1-line {
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
    }
    
    .text-input::placeholder {
        color: #b9b5b5;
    }
    
    
    h2 {
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    
    button.primary-btn.warn {
        border-radius: 20px;
    }
    
    button.WizardButton.btn {
        background-color: $highlightBtnColor;
        border-radius: 20px;
    }
    
    .WizardTitle li.current {
        background-color: $highlightBtnColor;
        border: none;
        border-radius: 21px;
        padding: 10px 0;
        color: white;
        font-weight: bold;
        text-align: center;
        width: 41px;
    }
    
    .WizardTitle li {
        background-color: transparent;
        border: 1px solid rgba(2552,255,255,0.5);
        border-radius: 21px;
        padding: 10px 0;
        color: white;
        font-weight: bold;
        text-align: center;
        width: 41px;
    }
    
    
    
    .TagCloudModule .tag-cloud > span.tag-el {
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 28px;
        font-weight: bold;
        padding: 5px 20px;
    }
    
    .TagCloudModule .tag-cloud > span.tag-el.selected {
        background-color: $highlightBtnColor;
        border-color: $highlightBtnColor;
    }
    
    .TagCloudModule .tag-cloud > span.tag-el.add-tag {
        background-color: $highlightBtnColor;
        opacity: 0.7;
        transform: scale(0.7);
        line-height: 20px;
        vertical-align: top;
        border-color: transparent;
    
    }
    
    .template-footer {
        min-height:60px;
    }
    
    &:after {
    }


    .template-footer {
        padding: 0 40px;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    
    .pb-modules-viewer {
        padding-bottom: 30px;
    }

}


span.notifications {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgba(0,0,0,0.1);
    position: relative;
    top: 9px;
    cursor: pointer;
    border-radius: 100%;
}

span.notifications:after {
    content: "\f0f3";
    font-family: 'FontAwesome';
    position: absolute;
    left: 9px;
    top: 5px;
    color: $highlightBtnColor;
}

[data-view="mainProjectsDetail"]>div>div>.ui-navigation-menu {
    display: none;
}

.dashboard-main.gct3{
    
    .login-form {
        position:relative;
    }
    
    
    
    .login-form:after {
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 4px;
          position: absolute;
          content:"";
          width:100%;
          height:100%;
          top: 0;
          left: 0;
          z-index: -1;
         }
        .login-form:before {
          background-position: center;
          background-image: url(https://dyl2vw577xcfk.cloudfront.net/gather.geoforms.ca/1/Uploads/%5BG%5D_Plu_%5BImAgE%5D_Z2G_XQ.jpeg);
          content: "";
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.3;
          background-size: cover;
          pointer-events: none;
          z-index: -1; }
    
}


[data-view="tagsDetail"] .section-module {
    min-height: 55px;
}

[data-view="tagsDetail"] .section-module .tag-item:first-child {
    margin-top:20px;
}

[data-view="mainActivityDetail"] .ui-view.inset-shading>div,[data-view="mainActivityDetail"] .discussion{

    background-color:transparent;
}

[data-view="mainActivityDetail"] .ui-post-view>div {
    background: white;
    border-radius: 8px;
    margin: 30px 10px;
    padding: 10px 10px;
    display: block;
}


[data-view="archiveListView"].inset-menu-shading>div{
   background-color:transparent;
}

[data-view="singleArchivedProjectListItemDetail"] .buttonset{
    position: absolute;
    top: 0;
    right: 0;
}

[data-view="singleArchivedProjectListItemDetail"] .primary-btn{
   padding: 5px 10px;
   font-size: 12px;
}
.search-bar-content {
    width: unset;
}
.widget-33.geolive-top-bar .search-bar-content {
    width: calc( 100% - 300px );
}
.section-title {
 
    font-size: 30px;
    font-weight: bold;
    color: #545454;
}


.section-title .thin {
    font-weight: 100;
}

.section-help>*, .section-help .hint {
    color: #3e3e3e;
}


.ui-view.inline-list-item.first-item.tasks-list-item-icon {
    display: none;
}


.ui-view.left-panel {
    background-color: #525252;
}




ul.project, ul.user{
    li {
        padding-bottom:10px;
        margin-bottom:20px;
    }
    li button {
        /* margin: 10px; */
        /* margin-bottom: 30px; */
        padding: 8px 25px;
        background: rgba(0,0,0,0.1);
        border-radius: 20px;
    }
    li.active  {
        border-bottom: 3px solid $highlightBtnColor;
    }
    li.active button {
        background-color: adjust-color($highlightBtnColor, $alpha:-0.3);
    }

    li.active button {
        color: white;
    }

    li button:focus {
        outline:none;
    }
}


.withItemsIndicator.hasItems span.items {
    position: absolute;
    bottom: 2px;
    right: -7px;
}

.withItemsIndicator.hasItems span.items:before {
    background-color:#525252;
    color:white;
}


.withItemsIndicator.hasItems {
    position: relative;
}




.ui-view.dashboard-main {
    background: #f7f7f7;
}

.section-module {
    background: white;
    border-radius: 8px;
    /*margin: 30px 40px;*/
    padding: 20px 10px;
}

.section-padding {
    margin: 30px 40px;
}
.section-indent {
    margin-left: 40px;
}

.ui-list-view .ui-view.section-module {
    border: none;
    background: white;
    margin: 10px;
}

.section-welcome {
    padding-right: 30%;
}

.ui-view.section-module.w-30-60 {
    min-height: 150px;
    height: 100px;
    border: none;
    width: calc( 33.3% - 32px);
    margin-right: 0;
}

.ui-view.search-panel {
    background: white;
    text-align: right;
}

.search-panel input.search-input {
    border-radius: 25px;
    background-color: #f7f7f7;
    border-color: rgba(0,0,0,0.1);
    transition: width 0.3s;
    width:250px;
}

.search-panel input.search-input:focus, .search-panel input.search-input.focus {
    width: 400px;
    outline: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.3) inset;
    border-color: #c6c6c6;
}

  .search-panel .search-container{
    position:relative;
  }

  .search-panel .search-result-list{
    margin-top:0;
    margin-left:1px;
  }

.dataset-description {
    font-size: 12px;
    color: #484848;
    padding: 0 10px;
    padding-right: 20%;
    height: 65px;
    overflow: hidden;
}

.ui-view.dataset-item .section-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc( 100% - 80px );
    overflow: hidden;
}

.dataset-item .field-value-module.item-icon {
    width: 50px;
    height: 50px;
    float: right;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;

}

.ui-view.section-module.dataset-item {
    height: unset;
}


.field-value-module.item-icon.left-icons, .field-value-module.item-icon.left-icons:after {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.field-value-module.item-icon.left-icons:after {
        content:"+" attr(data-count-projects);
    position: relative;
    left: 6px;
    top: -5px;
    background: #7d7d7d;
    border-radius: 100%;
    text-align: center;
    line-height: 32px;
    font-size: 11px;
    color: white;
}


button.primary-btn.nav-new-btn {
    float: none;
    margin: 30px 49px;
    width: 200px;
    background-color: $highlightBtnColor;
    height: 55px;
    border-radius: 27.5px;
    text-transform: capitalize;
    transition: background-color 2.1s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    line-height: 30px;
    font-weight: 100;
    font-size: 18px;
    color: #2d2d2d;
}

button.primary-btn.nav-new-btn:before {
    content: "+ ";
    float: left;
    font-size: 25px;
}

button.primary-btn.nav-new-btn:hover {
    background-color: darken($highlightBtnColor, 10%); /*#dc004c;*/
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 3px rgba(255,255,255,0.1);
    
}


.navigation-menu ul li.active {
    background-color: adjust-color($highlightBtnColor, $alpha:-0.3);
    border-right: 4px solid $highlightBtnColor;
}

.navigation-menu ul label {
    display: none;
}

@media screen and (max-width: 1250px) {
    button.primary-btn.nav-new-btn {
        font-size:13px;
        width:140px;
        margin: 30px 20px;
        padding: 10px 20px;
    }
    button.primary-btn.nav-new-btn:after {

        font-size:15px;
    }
}


@media screen and (max-width: 1000px){

    button.primary-btn.nav-new-btn {
        font-size:0;
        width:55px;
        margin: 30px 23px;
        padding: 10px 20px;
    }


}


.ui-view.left-panel.closed button.primary-btn.nav-new-btn{
    font-size:0;
    width:30px;
    height:30px;
    margin:10px;
    line-height:30px;
    padding:0;
    margin-top :50px;
}

.ui-view.left-panel.closed button.primary-btn.nav-new-btn:before{
    content:"+";
    float:none;
}


@media screen and (max-width: 1100px){


    .ui-view.section-module.w-30-60{

        width: calc( 50% - 32px);

    }
}

@media screen and (max-width: 800px){


    .ui-view.section-module.w-30-60{

        width: calc( 100% - 32px )
        
    }
}



/*cancel icon highlight
.navigation-menu li:before {
    filter: brightness(0);
}
*/



.widget-33.geolive-top-bar .search-bar-btn {
    z-index: 2;
    background-color: $highlightBtnColor;
    padding: 0px 20px;
    position: relative;
    left: 35px;
    border-radius: 20px 0 0 20px;
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.widget-33.geolive-top-bar input.search-input {
    border-radius: 0 25px 25px 0;
    background-color: #f7f7f7;
    border-color: rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    box-shadow: none;

}
.widget-33.geolive-top-bar input.search-input {
    outline:none;
}

.inline-btn.optionlist {
    background-color: rgba(0,0,0,0.1);
}

.inline-btn.optionlist ul, .inline-btn.sort ul {
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3); 
    border-radius: 3px; 
}

.inline-btn.optionlist li, .inline-btn.sort.hasFilter li, .inline-btn.sort.hasOrder li {
    color:black;
    border-color: white;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.3); */
    /* border-radius: 3px; */
}

.inline-btn.optionlist li:hover, .inline-btn.sort li:hover {
    background-color:#d7d7d7;
}



.search-panel .user-detail{
    

    .field-value-module{
        
        &.user-name {
            line-height: 45px;
            margin-right: 10px;
        }
        
        button.inline-logout {
            display: none;
        }
        
        &.editable.user-name:after {
            display: none;
        }
        
        &.user-email {
            display: none;
        }
        
        &.user-role {
            display: none;
        }
        
        &.user-community {
            display: none;
        }
    
    }
}



.inline-btn.sort li, .inline-btn.optionlist li {
    color: black;
}



.navigation-menu .menu-main li{
    
    &.menu-main-projects {
        display: none;
        &.menu-main-datasets, &.menu-main-collections{
            display:list-item;
        }
    }

    &.menu-main-reports {
        display: none;
    }
    &.menu-main-timetracking {
        display: none;
    }
     &.menu-main-documents {
        display: none;
    }
    &.menu-main-messages {
        display: none;
    }
}

.field-value-module.item-icon.left-icons .user-profile-icon {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
}


.table-header .field-value-module:before {
    content: "\f0dc";
    font-family: 'FontAwesome';
    margin-right: 5px;
    color:gray;
}

.table-header .field-value-module.active:before {
    content: "\f0dd";
    color:cornflowerblue;
}
.table-header .field-value-module.active.asc:before {
    content: "\f0de";
}

.field-value-module.inline.sortable {
    background-color: rgba(0,0,0,0.04);
    margin: 0px;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    border-radius: 6px;
}


.section-welcome {
    position: relative;
    
    
    button.inline-edit:after {
        content: "\f040";
        font-family: 'FontAwesome';
        font-size:20px;
    }
    
    
    button.inline-edit {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 100%;
        font-size: 0;
        padding: 0;
        color: mediumseagreen;
        cursor:pointer;
    }


}





.navigation-menu li.menu-main-projects.menu-main-datasets:before {
    content: "\f1c0";
}

.navigation-menu li.menu-main-projects.menu-main-collections:before {
    content: "\f1b3";
}



.field-value-module.inline.icon:before {
    content: "\f1b3";
     font-family: 'FontAwesome';
     
     color:#565656;
}

.is-dataset .field-value-module.inline.icon:before {
    content: "\f1c0";
}




.is-dataset [data-col="attachments"]:before {
    content: "ï‰¸";
    font-family: 'FontAwesome';
    color: rgba(0,0,0,0.1);
    margin-right: 5px;
}
.is-basemap-layer [data-col="attachments"]:before {
    color: limegreen;
}



.projects-list .field-value-module {
    font-size: 14px;
    font-family: Arial;
}


.drag-area {
    border: 1px dashed cornflowerblue;
    background-color: rgba(0,0,0,0.05);
    padding: 15px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 4px;
    margin: 15px 0px;
}


ul.user-roles li {
    background-color: rgba(0,0,0,0.1);
    border-radius: 100%;
    padding: 2px;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

ul.user-roles li.active {
     background-size: 70%;
}

div.field-value-module.inline.icon {
    width: 30px;
}

.table-header .field-value-module.icon:before {
    visibility:hidden
}

.table-header .field-value-module.disabled:before{
     visibility:hidden
}

