<?php
$config=new core\Configuration('iconset');

 ?>

.iw-title {
    color: black;
    padding: 2px;
    margin-bottom: 10px;
    min-width: 200px;
    font-size: 15px;
}
.iw-content {
    color: black;
}


.layers {
    display: inline-block;
    position: absolute;
    left: 90px;
    width: 140px;
    background: white;
    border-radius: 3px;
    top: -2px;
    border: 1px solid;
    padding: 5px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.bottom-align .layers {
    top: inherit;
    bottom: -2px;
}

.layer-group.empty{
    display:none;
}

.layer-group:before{
    content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
<?php foreach(['basemaps','community', 'townships', 'mining', 'forestry', 'environmental', 'boundary', 'crowdsource', 'project', 'selection', 'other'] as $group){?>
.layer-group.<?php echo $group; ?>:before,
.basemap-layer-<?php echo $group; ?> .inline-icon:before {
   
   <?php if(count($config->getParameter($group))){
       ?>
          background-image:url("<?php echo UrlFrom($config->getParameter($group)[0])."?tint=".$config->getParameter($group."Tint","rgb(0,0,0)"); ?>");
       <?php
       
   }?>
    
}

.layer-group.<?php echo $group; ?>{
   background-color: <?php echo $config->getParameter($group."Color","rgb(255,255,255)");?>;
}
.layer-group.<?php echo $group; ?> .layers {
   border-color: <?php echo $config->getParameter($group."Color","rgb(255,255,255)");?>;
}

<?php } ?>

.layer-group {
    min-width: 64px;
    min-height: 64px;
    background-color: turquoise;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.minimized>.layers {
    display: none;
}
<?php
$config=new core\Configuration('documentTypes');



?>

.upload-btns span.document{
    background-image: url("<?php echo UrlFrom($config->getParameter('document')[0]."?tint=".$config->getParameter("documentTint","rgb(0,0,0)")); ?>");
}

<?php 

foreach(array("permit", "agreement", "letter", "document", "spatial", "other") as $type){
    
    ?>
   
    .add-<?php echo $type;?>s .upload-btns span.document, .add-<?php echo $type;?>s .upload-btns span.layer{
        background-image: url("<?php echo UrlFrom($config->getParameter($type)[0]."?tint=".$config->getParameter($type."Tint","rgb(0,0,0)")); ?>");
    }
    
    .file-list.<?php echo $type;?>s .file-container{
        /*
        background-image: url("<?php echo UrlFrom($config->getParameter($type)[0]."?tint=".$config->getParameter($type."Tint","rgb(0,0,0)")); ?>");
        */
    }
   
    <?php 
    
}



?>

.add-spatial .upload-btns .documen.file-browse-btnt, .add-spatial .upload-btns .layer.file-browse-btn{
    background-image: url("<?php echo UrlFrom($config->getParameter('spatial')[0])."?tint=".$config->getParameter("spatialTint","rgb(0,0,0)"); ?>");
}
span.flag{
       background-image: url("<?php echo UrlFrom($config->getParameter('flag')[0])."?tint=".$config->getParameter("flagTint","rgb(0,0,0)"); ?>");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
span.flag.checked{
       background-image: url("<?php echo UrlFrom($config->getParameter('flag')[0])."?tint=".$config->getParameter("flagTintActive","rgb(0,0,0)"); ?>");
}

.spatial-preview{
       background-image: url("<?php echo UrlFrom($config->getParameter('map')[0])."?tint=".$config->getParameter("mapTint","rgb(0,0,0)"); ?>");
}


.proposal-documents>li>a {
  background-image: url("<?php echo UrlFrom($config->getParameter('document')[0])."?tint=".$config->getParameter("documentTint","rgb(0,0,0)"); ?>");
}
.proposal-documents>li.spatial-doc>a {
  background-image: url("<?php echo UrlFrom($config->getParameter('spatial')[0])."?tint=".$config->getParameter("spatialTint","rgb(0,0,0)"); ?>");
}

.proposal-documents>li.permit-doc>a {
  background-image: url("<?php echo UrlFrom($config->getParameter('permit')[0])."?tint=".$config->getParameter("permitTint","rgb(0,0,0)"); ?>");
}

.proposal-documents>li.agreement-doc>a {
  background-image: url("<?php echo UrlFrom($config->getParameter('agreement')[0])."?tint=".$config->getParameter("agreementTint","rgb(0,0,0)"); ?>");
}

<?php 
 foreach(['low', 'medium', 'high'] as $word){
?>
 .TagCloudSelection>span.word-<?php echo $word; ?>:hover {
    background-color: <?php echo $config->getParameter($word."Hover","rgb(0,0,0)"); ?>;
}

.TagCloudSelection>span.word-<?php echo $word; ?>.selected {
    background-color: <?php echo $config->getParameter($word."Selected","rgb(0,0,0)"); ?>;
}


<?php
}
?>


.layer-group>.indicator-switch {
    position: absolute;
    bottom: -6px;
    left: 52px;
    z-index: 8;
}

.layer-group.active>.indicator-switch {
    background-color: white;
}

.layer-group.active.all>.indicator-switch {
    background-color: aqua;
}

.bottom-align>.toggle-btn {
    top: unset;
    bottom: -4px;
}

.bottom-align.minimized>.toggle-btn {
    top: -4px;
}


@media screen and (max-height: 700px),  screen and (max-width: 767px), {
	.layer-group{
		margin: 3px 6px;
		min-width: 40px;
   		min-height: 40px;
	}

	.map-legend .layer-group.minimized {
		width: 40px;
	}

	.layer-group:before{
		width: 40px;
    	height: 40px;
	}
	.toggle-btn {
	    left: 36px;
	    top: -7px;
	}
}


@media screen and (max-height: 500px),  screen and (max-width: 567px), {
	.layer-group{

		margin: -1px 6px;
		min-width: 32px;
   		min-height: 32px;
	}

	.map-legend .layer-group.minimized {
		width: 32px;
	}
	.layer-group:before{
		width: 32px;
    	height: 32px;
	}
	.toggle-btn {
	    left: 30px;
    	top: 6px;
	}

}



.ui-template-info-window .t-btn {
    padding: 2px 5px;
    font-size: 9px;
    text-transform: capitalize;
    margin: 2px;
}

.ifw-bkg-arrow {
    background-color: #6A7CE9;
}


.CustomTile.top-right.proposal-tile {
    width: 0;
}


button.grp-layer-upload:before {
    content: "+";
}
button.grp-layer-upload:after  {
    content: "Add TUS data";
    position:absolute;
    left: 27px;
    white-space: nowrap;
    font-size: 10px;
}


button.grp-layer-upload {
    background: #c4b338;
    border: none;
    border-radius: 3px;
    position: relative;
}