

    .ui-view.dashboard-main.dark:before {
        background-image: url("https://gather.geoforms.ca/assets/images/tim-johnson-bmljdpdeigw-unsplash.jpg");
        content:
        "";
        width: 100%;
        height: 100%;
        position: fixed;
        background-size: cover;
        opacity: 0.2;
        z-index: 0;
    }
    
    .ui-view.dashboard-main.dark {
        z-index: 1;
    }



.ui-view.install-form {
    max-width: 800px;
    
    
    h1{
        line-height: 23px;
        font-weight: 100;
        font-size: 30px;
    }
    
   .intro-section h1 {
        line-height: 75px;
        font-weight: 100;
        font-size: 50px;
    }
    
    .intro-section{
        position:relative;
        margin-bottom: 50px;
        padding-bottom: 100px;
    }
    
    .intro-section>span:after {
        
    }

    
    
    textarea.text-input.one.with-1-line {
        height: 40px;
        text-indent: 10px;
        line-height: 40px;
         font-size: 16px; 
        overflow-y: hidden;
    }
    
    .label.top-left {
        font-size: 20px;
        line-height: 45px;
    }
    
    .boolean-field.checkbox-style {
        font-size: 20px;
        text-align: revert;
        width: 100%;
        display: inline-block;
    }
    
    .boolean-field.checkbox-style:after {
        clear: both;
        content: "";
        display: inline-block;
        width: 100%;
    }
    
   button.WizardButton.btn {
        background-color: mediumseagreen;
        padding: 15px 30px;
        min-width: 220px;
    }
    
     @media screen and (min-width: 1750px) {
    
        max-width:1700px;
    
    
    
      .intro-section.markdown>span {
         max-width:800px;
         display:inline-block;
         position:relative;
        }
        
        .intro-section>span:after {
            
            content: "";
            background-image: url(https://dyl2vw577xcfk.cloudfront.net/rmt.geoforms.ca/1/Uploads/%5BImAgE%5D_7hP_q5_%5BG%5D_0ta.png);
            position: absolute;
            width: 800px;
            height: 400px;
            background-size: cover;
            box-shadow: 0 0 20px #ffffff5e;
            border-radius: 10px;
            margin-top: 150px;
            border: 2px solid mediumseagreen;
            left: calc( 100% + 50px );
            top:50px;
        }
    
     }


 

}