
<h1>{{attributes.company}} | {{attributes.title}}</h1>
<h3>{{attributes.type}}</h3>
<h4>Created By <a href="mailto:{{userdetails.email}}">{{userdetails.name}} | {{userdetails.email}}</a></h4>
<h4>Created {{createdDate| date}}. Last Updated {{modifiedDate| date}}</h4>
<span>timezone info: {{timezone}}</span>
{% for image in computed.images %}
        <div><img src="{{image}}"  style="max-height:400px; max-width:400px; margin:20px;" /></div>
{% endfor %}
<h2>Team</h2>
<div>
{% for member in attributes.teamMembers %}
        <div style="float:left; background-color:rgba(0,0,0,0.2); padding:10px; width:100px;" >
            <div style="display:inline-block; background-color:white;">
                <img src="{{member.icon}}"  style="max-height:100px; max-width:100px; margin:10px;" />
                <label>{{member.name}}</label>
            </div>
        </div>
{% endfor %}
</div>
<h2>Tasks</h2>
<ul>
<h3>Summary</h3>
{% for task in tasks %}
        <li>{{ task.name }} {% if task.complete %}<span style="color:green;">Completed on {{task.completedDate | date}}</span>{% else %}<span style="color:red;">Incomplete</span>{% endif %}</li>
{% endfor %}
    
</ul>


{% for task in tasks %}
        <h3>{{ task.name }}</h3>
        <h4>Created {{task.createdDate| date}}. Last Updated {{task.modifiedDate| date}}. {% if task.complete %}<span style="color:green;">Completed on {{task.completedDate | date}}</span>{% endif %}</h4>
        <div>
        {% for image in task.computed.images %}
                <img src="{{image}}" style="max-height:200px; max-width:200px; margin:10px;" />
        {% endfor %}
        </div>
        <p>{{ task.description }}</p>
{% endfor %}


<ul>
<h2>References</h2>


<h3>Files</h3>
{% for file in computed.files %}
        <li>{{ file }}</li>
{% endfor %}
    
</ul>