
 






.project-type-missing-tasks-hint {
    background-image:url("<?php echo UrlFrom("{assets}/Control Panel Icons/tree.png?tint=rgb(198, 175, 79)"); ?>");
}

button.btn-reset-list {
    background-image:url("<?php echo UrlFrom("{assets}/Control Panel Icons/reset.png?tint=rgb(106, 233, 191)"); ?>");

    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    background-size: 100%;
    
}




button.btn-search-list {
    background-image:url("<?php echo UrlFrom("{assets}/Control Panel Icons/search.png?tint=rgb(106, 233, 191)"); ?>");

    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    background-size: 100%;
    
}



    
    $fileBtns:'remove', 'edit', 'download';
    $offsetY:10px;
    $offsetX:10px;
    @each $fileBtn in $fileBtns {
        
        $i: index($fileBtns, $fileBtn);
     
        .file-list .file-item button.#{$fileBtn}-btn {
            top:$offsetY+30px*($i - 1);
        }
                
        .layout-list .file-list .file-item button.#{$fileBtn}-btn {
            top:10px;
            right:$offsetX+30px*($i - 1);
        }
        
        
    }
    
    
@if not $useFontAwesome{

    @each $n, $icon in $fileIcons {
        file-item .#{$n}-btn {
            background-image:url($icon);
        }
    }  
}
    
    
    
@if $showSplitProjectDetail{
   
   [data-view="splitProjectDetail"]>div>div{
        display:inline-table;
        width: 100%;
        height: 100%;
    }
    
}


    
    
    @each $n, $icon in $mobileIcons {
        
        @if $icon {
            .#{$n}-app-link{
                background-image:url($icon);
            }
        }
     }




@if not $useFontAwesome{
    @if $addIcon{
    
        .file-list .droppable .add-btn {
            background-image:url($addIcon);
        }
    
    }
    
}
    


@if not $useFontAwesome{

    @each $n, $icon in $sectionIcons {
        li.menu-#{$n}:before{
            background-image:url($icon);
        }
     
        .label-#{$n}{
            background-image:url($icon);
        }
    }
 
 
    @each $n, $icon in $sectionIconsActive {
        li.menu-#{$n}.active:before{
            background-image:url($icon);
        }
    }
}






 .application-logo {

    background-image:url($applicationLogo);
} 


@if $applicationLogoAlt {

    .alt-logo {

        background-image:url($applicationLogoAlt);
    }  
  
}
@else{
    

    .alt-logo {
       display:none;
    }

}



.gather-logo {
    background-image:url($gatherLogo);
}  

.gather-icon {
    background-image:url($gatherIcon);
} 


.navigation-menu li.menu-links-gather:before{
     background-image:url($gatherIcon);
     content:"";
     width: 30px;
     height: 30px;
     margin: 0 5px;
}



@if not $useFontAwesome{

    .attachment-indicator {
        background-image:url($attachmentIcon);
    }

    .discussion button.upload-button {
        background-image: url($attachmentIcon);
       
    }
    
}


.discussion button.upload-button {
    font-size: 0;
    height: 37px;
    background-size: auto 28px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}


@if not $useFontAwesome{

    .field-value-module.with-description .field-value:after{
         background-image: url("<?php echo UrlFrom("{assets}/Control Panel Icons/text.png?tint=rgb(180,180,180)"); ?>");
    }

}

.field-value-module.with-description .field-value:after{
    content: "";
    width: 20px;
    height: 14px;
    background-size: auto 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align:middle;
}


@if not $useFontAwesome{

    .synopsis-item {
        background-image:url($menuIconDefault);
    }

    .starred-indicator {
    
        background-image:url($starredIcon);
    }   
    .starred-indicator.starred {
    
        background-image:url($starredIconActive);
    }
    
    .starred-tasks {
        background-image:url($starredIconActive);
        border-color:$starredTint;
        
    }

    .priority-indicator {
        background-image:url($priorityIcon);
    }   
    .priority-indicator.priority {
        background-image:url($priorityIconTint);
    }

    .priority-tasks {
        background-image:url($priorityIconTint);
        border-color:$priorityTint;
        
    }



    .overdue-tasks {
        background-image:url($overdueIcon);
        border-color:$overdueTint;
        
    }
    
    .segment.overdue{
        background-image:url($overdueIconSegment);
    }
    
    .segment.duedate, .segment.complete{
         background-image:url($overdueIconSegmentComplete);
    }


    .remaining-tasks {
        background-image:url($remainingIcon);
        border-color:$remainingTint;
        
    }


    
    
    .segment.completed{
         background-image:url($remainingIconCompleted);
    }
    .segment.created{
         background-image:url($starredIconCreated);
    }
    

}


     @each $n, $icon in $roleIcons {
        .role-#{$n}{
            background-image:url($icon);
            filter: grayscale(100);
        }
     }
     
     @each $n, $icon in $roleIconsActive {
        .role-#{$n}.active{
            background-image:url($icon);
            filter: grayscale(0);
        }
     }




    @each $n, $icon in $mediaIcons {
        .upload-btns .#{$n}.file-browse-btn {
            background-image:url($icon);
        }
    }
   
    @each $n, $icon in $navIcons {
        .#{$n}-btn {
            background-image:url($icon);
        }
    }
    
    @each $n, $icon in $navIconsHover {
        .#{$n}-btn:hover {
            background-image:url($icon);
        }
      
    }


        
        
        @if $backgroundImage {
            
            .ui-view.dashboard-main:after {
                background-image: url($backgroundImage);
                position: fixed;
                width: 100%;
                height: 100%;
                content: "";
                top: 0;
                left: 0;
                opacity: 0.2;
                pointer-events: none;
                background-size: cover;
                filter: blur(10px); opacity:0.7;
            }
            .ui-view.dashboard-main.loading:after {
                 filter: blur(10px);
            }
                
        }
        
        
        
        @if $optionsMenuIcon {

            .inline-btn.optionlist:before {
                background-image: url($optionsMenuIcon);
                display: inline-block;
                width: 6px;
                height: 25px;
                background-size: auto 100%;
                background-position: center;
                content: "";
                background-repeat: no-repeat;
            }
            .inline-btn.optionlist:hover:before {
                background-image: url($optionsMenuIconHover);
            }
        }
            
        
        @if $surveyMenuIcon {
        
            .survey-link{
                
                text-align: left;
                font-size: 10px;
            }

            .survey-link a:before, .navigation-menu li.menu-links-survey:before {
                background-image: url($surveyMenuIcon);
                content:"";
            }
            .survey-link a:before {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: 100%;
                margin: 5px;
                vertical-align: middle;
            }
            .survey-link a:hover:before  {
                background-image: url($surveyMenuIconHover);
            }
        
        }
        
        
        @if $slackMenuIcon {
            
            .survey-link a.slack-link:before,  .navigation-menu li.menu-links-slack:before {
                background-image: url($slackMenuIcon);
                content:"";
            }
        }    
        
        
        @if not $showUsersRoles{
            
           .user-detail .user-role, .user-detail .user-community{
                display:none;
            } 
            
        }
        @else{
           .user-detail .user-role, .user-detail .user-community{
               
            } 
        }
        
        @if not $showFileThumbnails{
            
            .image.attachment-thumb{
                display:none;
            }
            
        }
        
    

