
.#{$themeName}{
    
    .ui-view.dashboard-main{
        color:$mainFontContentColor;
        background-color:$mainColorContent;
    }
    
    .ui-view.left-panel {
        background-color: $mainColorSidePanel;
        color:$mainFontSidePanelColor;
    }
}