
.#{$themeName}{
    
    .ui-view.dashboard-main{
        color:$mainFontContentColor;
        background-color:$mainColorContent;
    }
    
    [data-view="leftPanel"].ui-view.left-panel {
        background-color: $mainColorSidePanel;
        color:$mainFontSidePanelColor;
    }
    
    .section-module, .ui-list-view .ui-view.section-module, .ui-view.search-panel{
        background-color: $contentInsetColor;
    }
    
    button.primary-btn.nav-new-btn{
        background-color:$mainHighlightColor;
    }
    
    button.primary-btn.nav-new-btn.btn-index-1{
         background-color:$altHighlightColor;
    }
    
    .search-panel.ui-view {
        background-color:$topBarColorContent;
    }
    
    .dataset-item button.form-btn.inline-edit, .table-header .field-value-module.inline.sortable{
        background-color:$genericButtonColorContent;
    }
    
    .section-title {
        color: $mainFontHeadingColor;
    }
    
}