label.login-button-text {
    font-weight: 100;
    color: cornflowerblue;
    display: block;
    text-align: right;
}

.login-button-text button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.register-user-role>ul {
    padding: 0;
    margin-bottom: 60px;
}



.tileButtonContainer {
    background-color: #f3f3f3;
    background-size: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
    border-radius: 2px;
}

.tileButtonContainer:hover {
    background-color: #f3f3f3;
    background-size: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
    border-radius: 2px;
}

.text-input {
    border: 1px solid gray;
    border-radius: 2px;
}


li.WizardButton {
    background-color: cornflowerblue;
    border-color: transparent;
}

.pb-c:after {
    background-color: cornflowerblue;
}

a.pb-btn-close {
    background-color: cornflowerblue;
}

.WizardTitle>ul>li.current:before {
    background-color: cornflowerblue;
}

.upload-btns span.noIcon {
    border-radius: 100%;
    padding: 6px;
}


span.spatial-file.media-item {
    display: inline-block;
    height: auto;
    padding: 5px 5px 0 5px;
}
span.media-item:after{
    content:"";
    width:100%;
    height:16px;
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
}

.media-item img {
    width: auto;
    height: 32px;
    margin-top: 5px;
}

.ToolbarBottom .remove-btn:before {
    content: "";
    color: darkslategrey;
    font-size: 12px;
    /* float: right; */
    margin: 0 5px;
    line-height: 32px;
    background-image: url(http://s3-us-west-2.amazonaws.com/nickolanackbucket/pushbox/ic_clear_black_18dp.png);
    width: 14px;
    height: 14px;
    background-size: 100%;
    position: absolute;
    top: 1px;
    right: -3px;
    z-index: 1;
    cursor: pointer;
}
.ToolbarBottom .empty:after {
    content: "click a media button to add attachments";
    width: 100%;
    position: absolute;
    top: 33%;
    left: 0;
    font-weight: 100;
    color: cornflowerblue;
    font-size: 11px;
    text-indent: 10px;
}
.ToolbarBottom.spatial-files .empty:after {
    content: "click the spatial features button to documents";
    width: 100%;
    position: absolute;
    top: 42%;
    left: 0;
    font-weight: 100;
    color: cornflowerblue;
    font-size: 11px;
}

.ToolbarBottom {
    min-height: 55px;
        margin-top: 5px;
    vertical-align: top;
}
.ToolbarBottom.spatial-files {
}

.tileOptionContainer.proposal {
    display: block;
}

.tileOptionContainer.proposal .tileButton {
    background-color: cornflowerblue;
}

.tileButtonContainer.active {
    border: 1px solid coral;
    background-color: #e0e0e0;
}

.ProposalsModule h3, .EmailerDetailsModule h3 {
    font-weight: 100;
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}

.ProposalsModule .toolbar-icons .t-btn {
    background-color: cornflowerblue;
    border: none;
    padding: 3px 6px;
}

p.emailer-detail, p.proposal-detail {
    font-style: italic;
    color: #555555;
}

span.prop-modified:before {
    content: "- ";
}
span.prop-modified {
    color: #555555;
    font-style: italic;
}

span.prop-item:before, span.map-result-item:before {
    content: attr(data-id);
    font-size: 10px;
    margin-right: 10px;
    color: lightgray;
}
span.toolbar-icons.admin-tools .t-btn {
    color: cornflowerblue;
    background-color: transparent;
    float: left;
}

span.t-btn.active.admin-btn {
    background-color: yellowgreen;
}

.no-media .media-bar, .no-media .ToolbarBottom {
    display: none;
}
.no-text.uitext-container {
    margin-top: 0;
}

.no-text>.text-input {
    display: none;
}

.no-text span.audio.noIcon, .no-text span.video.noIcon, span.image.noIcon {
    display: none;
}

span.document.noIcon, span.layer.noIcon{
    float: left;
}



.geolive-results li>span.result-proposal-admin.selected {
    height: 100px;
    background: rgba(0,0,0,0.02);
    border-radius: 3px;
}

.result-proposal-admin .admin-content{
    display:none;
}
.result-proposal-admin.selected .admin-content{
    display:block;
}

.ProposalDetailModule>img {
    height: 55px;
    width: auto;
    border=ra: 3;
    background-color: white;
}

.ProposalDetailModule {
    border: 1px solid;
    float: left;
    margin: 5px;
    background: #e0e0e0;
    padding: 5px;
    height: 55px;
    border-color: cornflowerblue;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.icn-s-lst li:after {
    content: attr(data-label);
    position: relative;
top: 15px;
    width: 161px;
    display: inline-block;
    text-align: center;
    left: -33px;
}

.upload-btns span.layer.noIcon{
    background-image: url(//bcwf.geolive.ca/components/com_geolive/users_files/user_files_400/Uploads/[G]_B5w_HqI_CRL_[ImAgE].png?thumb=%3E31x%3E31);
}

.default-cluster-labels {
    color: black;
}


ul.user-role-display {
    padding-left: 0;
}

.user-role-display li {
     list-style: none;
    background: steelblue;
    border-radius: 100%;
    padding: 7px;
    margin: 5px;
    display: inline-block;
    border: 1px solid white;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    cursor: pointer;
}
.user-role-display img {
 max-height:21px;
}

.ProposalsModule li {
    margin: 0 2px;
    display: block;
    padding: 5px;
}

button.btn-label {
    border: none;
    background: none;
    line-height: 8px;
}

span.prop-item {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}

.pb-modules-viewer.module-wizard {
    text-align: left;
}

.icn-s-lst li>img {
    height: 48px;
    top: 0;
    position: relative;
    padding: 18px;
}


span.search-bar-tab>span, span.search-bar-tab>img {
    padding: 15px;
    border-radius: 0 0 2px 2px;
}

span.search-bar-tab {
    right: calc( 50% - 170px);
}
img.search-bar-tab.widget_135 {
    padding-left: 40px;
    padding-right: 40px;
}


.proposal-list-view {
position:relative;
}
span.status {
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: -38px;
    cursor: pointer;
}
span.status.active {
    background-color: rgb(134, 187, 0);
}
span.flag {
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    top: 40px;
    left: -38px;
    cursor: pointer;
}

.tileButtonContainer.disabled {
    opacity: 0.2;
}


.proposal-item li.WizardButton.spatial-preview {
    float: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 0;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.proposal-item li.WizardButton.spatial-preview>.btn-label {
    display: none;
}

li.proposal-item>span {
    padding: 5px 10px 30px 10px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 10px;
    border-radius: 2px;
}
li.proposal-item>span.urgency-medium {
    background-color:rgba(255, 236, 0, 0.25);
}
li.proposal-item>span.urgency-high {
    background-color: rgba(255, 0, 0, 0.2);
}

.item-priority.priority-high {
    color: crimson;
}
.field-value-module.item-priority {
    position: absolute;
    top: -25px;
    right: 0px;
}

.proposal-item span.field-label {
    margin-right: 5px;
    color: #555555;
}

ul.proposal-documents {
    display: block;
    white-space: nowrap;
    text-align: right;
}

ul.proposal-documents>li>a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: yellowgreen;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

ul.proposal-documents>li {
    display: inline-block;
    padding: 0;
}

.expand-btn {
    left: 60px;
}
.width-2 {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 10px;
 vertical-align: top;
}
.width-3 {
    width: 30%;
    display: inline-block;
    margin-right: 3%;
}

.CustomTile.proposal-tile.UIMapControl>.tileButtonContainer :before {
    content: "Exit Spatial Preview";
    right: 95%;
    position: absolute;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 10px;
    font-size: 20px;
    background: cornflowerblue;
    border-radius: 3px;
    color: white;
    z-index: -1;
    cursor: pointer;
}

.CustomTile.proposal-tile.UIMapControl>.tileButtonContainer.disabled :before{
    display:none;
}