.ui-view.install-form .intro-section > span:after {
    background-image: url(https://dyl2vw577xcfk.cloudfront.net/rmt.geoforms.ca/1/Uploads/%5BImAgE%5D_%5BG%5D_i6Q_UNN_doj.png);
}


.ui-view.install-form .intro-section-2 > span:after {
    background-image: url(https://dyl2vw577xcfk.cloudfront.net/rmt.geoforms.ca/1/Uploads/r6c_%5BG%5D_My3_rhN_%5BImAgE%5D.png);
}

.ui-view.install-form .intro-section-3 > span:after {
    background-image: url(https://dyl2vw577xcfk.cloudfront.net/rmt.geoforms.ca/1/Uploads/62L_%5BImAgE%5D_74h_%5BG%5D_NXC.png);
}