article:after {
    content: "";
    background-color: rgba(232, 137, 36, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("https://dyl2vw577xcfk.cloudfront.net/aopfn.geoforms.ca/1/Uploads/%5BImAgE%5D_yr_%5BG%5D_Zt4_51r.jpeg");
    background-size: cover;
    background-blend-mode: luminosity;
    background-position: center;
    opacity: 0.5;
    filter: sepia(0.2) brightness(0.6) blur(1px);
}

html {
    background-color:black;
}

article {
    text-align: center;
    margin: auto;
    max-width: 1000px;
    width: calc( 100% - 100px );
}

article>* {
    text-align: left;
}

h2 {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 20px black, 0 0 10px black, 0 0 3px black;
    font-weight: 400;
}

p.author {
    display: none;
}

.article-content {
    color: #d2d2d2;
    font-size: 28px;
    font-weight: 100;
    text-shadow: 0 0 10px black, 0 0 3px black;
}